<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>

    </head>
    <body>
        <div th:fragment="nav">
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <span th:text="${usuario != null ? 'Bubble - '+usuario.getNickname : 'Bubble'}" class="navbar-brand"></span>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" href="/homePage/">Timeline</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" href="/homePage/match">Match</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" href="/bubbleChat/">Chat</a>
                            </li>
                            <li sec:authorize="isAuthenticated()" class="nav-item">
                                <a class="nav-link" href="/config/">Config</a>
                            </li>
                        </ul>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="true" aria-label="Toggle navigation">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <form sec:authorize="isAuthenticated()" method="post" action="/pesquisa/postagem" class="form-inline ml-auto">
                            <div class="form-group no-border">
                                <input type="text" name="pesquisa" class="form-control" placeholder="Pesquisar Postagem">
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <div th:fragment="alert">
            <br/>
            <div th:if="${alert != null}" class="alert alert-primary" role="alert">
                <span th:text="${alert}"></span>
            </div>
            <div th:if="${info != null}" class="alert alert-info" role="alert">
                <span th:text="${info}"></span>
            </div>
            <div th:if="${sucess != null}" class="alert alert-success" role="alert">
                <span th:text="${sucess}"></span>
            </div>
            <div th:if="${danger != null}" class="alert alert-danger" role="alert">
                <span th:text="${danger}"></span>
            </div>
            <div th:if="${warning != null}" class="alert alert-warning" role="alert">
                <span th:text="${warning}"></span>
            </div>
            <br/>
        </div>
    </body>
</html>