<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="base :: css"></div>
    </head>

    <body>
        <header>
            <div th:replace="base :: navbar"></div>
        </header>
        <main>
            <div class="container">
                <br/>

                <!--login content-->
                <div class="col-lg-5 col-md-8 mx-auto">
                    <div class="card card-login">
                        <form action="/login/" method="post" class="form">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <p class="description text-center">Bubble.com >> Login</p>
                            <div class="card-body">
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="none" required>
                                    </div>
                                </span>

                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="none" required>
                                    </div>
                                </span>
                            </div>
                            <br/>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Efetuar Login</button>
                                <p>Não possui conta? <a class="btn-primary btn-link" href="/cadastro/">Cadastre-se!</a></p>
                            </div>

                            <div th:replace="base :: token"></div>
                        </form>
                        <div th:replace="base :: alert"></div>
                    </div>
                </div>

            </div><!--container-->
        </main>
        <footer>
            <div th:replace="base :: footer"></div>
        </footer>
        <div th:replace="base :: js"></div>
    </body>
</html>