<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="replace/base :: head"></head>
    <header th:replace="replace/base :: navbar"></header>
    <main>

        <!--container postagem-->
        <div class="container">
            <div th:replace="replace/base :: alert"></div>
            <div id="replace-msg-modal"></div>
            <!--each-->
            <section th:each="post : ${postagens}">
                <div class="col-md-8 mx-auto padding-top-2">
                    <div class="card">
                        <!--card-image do usuario header-->
                        <div class="card-header card-header-primary container row">
                            <div class="container-img-sm col-2">
                                <img th:src="${'/provedor/nickImg/' + post.getUsuarioPost.getUsername}" alt="Image"
                                     class="img-raised rounded-circle col-0">
                            </div>
                            <a th:href="${'/perfil/'+post.getUsuarioPost.getUsername}" class="btn btn-link">
                                <h4 th:text="${'@'+post.getUsuarioPost.getUsername}" class="card-title col-8 padding-left-1"></h4>
                            </a>
                        </div>
                        <!--boday card-->
                        <div class="card-body">
                            <!--modal foto postagem em tela cheia-->
                            <div th:replace="replace/pack-postagem :: img-modal-container">
                                <!--replace img modal container-->
                            </div>
                            <p th:text="${post.getDescricao}" class="card-text padding-top-1"></p>
                            <p class="card-text"><small th:text="${post.getDataPostagem}" class="text-muted"></small></p>
                        </div>
                        <div th:replace="replace/pack-postagem :: footer-modal-pack">
                            <!--replace footer modal-->
                        </div>
                    </div>

                    <!--modal comentarios-->
                    <div th:replace="replace/pack-postagem :: modal-comentario">
                        <!--replace modal comentario-->
                    </div>

                    <!-- Modal body imagem tela cheia-->
                    <div th:replace="replace/pack-postagem :: img-modal-expand">
                        <!--replace img-modal-expand-->
                    </div>

                    <!--Modal para confirmação de delete-->
                    <div th:replace="replace/pack-postagem :: delete-post">
                        <!--replace delete post-->
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer th:replace="replace/base :: footer"></footer>
    <div th:replace="replace/base :: js"></div>
</html>