<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="replace/base :: head"></head>
    <header th:replace="replace/base :: navbar"></header>
    <main>
       <!-- <div class="container row">
            <div th:each="post : ${postagens}" class="card mb-3 col-11 padding-top-3 mx-auto">
                <div
                <img th:if="${post.getImagemPost}" class="card-img-top" th:src="${'/provedor/postImg/'+post.getId}" rel="nofollow" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p th:text="${post.getDescricao}" class="card-text"></p>
                    <p class="card-text"><small th:text="${post.getDataPostagem}" class="text-muted"></small></p>
                </div>
            </div>
        </div>-->

        <div class="container">
            <div th:each="post : ${postagens}" class="col-md-8 mx-auto padding-top-2">
                <div class="card">
                    <div class="card-header card-header-primary container row">
                        <img th:src="${'/provedor/nickImg/' + post.getUsuarioPost.getUsername}" alt="Image" class="img-raised rounded-circle col-4" style="max-width: 7em;">
                        <h4 th:text="${post.getUsuarioPost.getUsername}" class="card-title col-8"></h4>
                    </div>
                    <div class="card-body">
                        <div class=" container-img">
                            <img th:if="${post.getImagemPost}" class="card-img-top img" th:src="${'/provedor/postImg/'+post.getId}" rel="nofollow" alt="Card image cap">
                        </div>
                        <p th:text="${post.getDescricao}" class="card-text padding-top-1"></p>
                        <p class="card-text"><small th:text="${post.getDataPostagem}" class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="replace/base :: footer"></footer>
    <div th:replace="replace/base :: js"></div>
</html>