<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="replace/base :: css"></head>
    <body>
        <header th:replace="replace/base :: navbar"></header>
        <main>
            <div th:replace="replace/base :: alert"></div>
            <div id="replace-msg-modal"></div>
            <div class="container card">
                <div class="col-xs-12">
                    <ul class="nav nav-pills nav-pills-icons" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#sobre" role="tab" data-toggle="tab" aria-selected="true">
                                <i class="material-icons">account_circle</i>
                                Sobre
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pref" role="tab" data-toggle="tab" aria-selected="false">
                                <i class="material-icons">psychology</i>
                                Preferências
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#bubble" role="tab" data-toggle="tab" aria-selected="false">
                                <i class="material-icons">public</i>
                                Bubble's
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space">

                        <!--informações sobre usuario-->
                        <div class="tab-pane active show container row" id="sobre">

                            <!--opções internas perfil usuairo-->
                            <div class="card card-nav-tabs card-plain">
                                <div class="card-header card-header-info">

                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#home2" data-toggle="tab">Home</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#posts2" data-toggle="tab">Posts</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#amigos2" data-toggle="tab">
                                                        Conexões
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="tab-content text-center">

                                        <!--nav primaria-->
                                        <div class="tab-pane active" id="home2">

                                            <!--avatar-->
                                            <div class="container row">
                                                <div class="col-md-6 container-img margin-top-1 mx-auto">
                                                    <img th:src="${'/provedor/nickImg/' + usuario.getUsername}" alt="Image"
                                                         class="img-raised rounded-circle max-20em">
                                                </div>
                                                <!--informações/ interações-->
                                                <div class="col-md-6 mx-auto">
                                                    <h3 th:text="${'@'+usuario.getUsername}" class="title"></h3>
                                                    <h4 th:text="${'@'+usuario.getNickname}" class="title"></h4>
                                                    <h5 th:text="${usuario.getDescricaoPerfil}" class="card-description"></h5>

                                                    <!--verificar se perfil pertence ao usuario-->
                                                    <div th:if="${principalUser != usuario}">

                                                        <!--botao de alt amizade-->
                                                        <form id="formPerfil" action="/perfil/altAmizade" method="POST">
                                                            <input type="hidden" name="username" th:value="${usuario.getUsername}">
                                                            <button th:fragment="panel" id="panel" type="submit" class="btn btn-primary">
                                                                <span th:if="${!solicitEnviada and usuario.isConfirmarSolicitacoes}"
                                                                      th:text="${principalUser.friendWith(usuario)} ? 'Desconectar' : 'Solicitar Conexão'"></span>
                                                                <span th:if="${!usuario.isConfirmarSolicitacoes}"
                                                                      th:text="${principalUser.friendWith(usuario)} ? 'Desconectar' : 'Conectar'"></span>
                                                                <span th:if="${solicitEnviada}">Cancelar Solicitação</span>
                                                            </button>
                                                        </form>

                                                        <a th:if="${usuario.isChatPublico or usuario.friendWith(principalUser)}"
                                                           class="btn btn-secondary btn-sm" href="">Chat</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--nav secundario-->
                                        <!--Postagens do usuario dentro do perfil (for)-->
                                        <div class="tab-pane" id="posts2">

                                            <!--Formulario para adicionar nova postagem em perfil-->
                                            <br/>
                                            <div th:if="${principalUser == usuario}">
                                                <form  action="/principalUser/addPostagem" method="post" class="mx-auto" enctype="multipart/form-data">
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPost">
                                                        Adicionar Nova Postagem
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modalPost" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle">Criar Postagem</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <!--inputs-->
                                                                <div class="modal-body">
                                                                <span class="bmd-form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="material-icons">article</i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="text" class="form-control"
                                                                               name="descricao" placeholder="Texto Postagem" autocomplete="off" required>
                                                                    </div>
                                                                </span>
                                                                    <span class="bmd-form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text">
                                                                                <i class="material-icons">collections</i>
                                                                            </span>
                                                                        </div>
                                                                        <input type="file" class="form-control" name="file"
                                                                               placeholder="Foto" autocomplete="off" accept="image/png/jpg/jpeg/jfif" required>
                                                                    </div>
                                                                </span>
                                                                </div>
                                                                <!--footer modal-->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <br/>

                                            <!--postagens-->
                                            <div class="container row mx-auto">
                                                <div th:each="post : ${usuario.getPostagens}" th:id="${'container-perfil-post'+post.getId}"
                                                     class="card col-md-4 col-sm-6 padding-top-1">
                                                    <!--img-->
                                                    <div th:replace="replace/pack-postagem :: img-modal-container">
                                                        <!--replace img-modal-container-->
                                                    </div>
                                                    <!--descricao-->
                                                    <div class="card-body">
                                                        <h4 class="card-title"></h4>
                                                        <p th:text="${post.getDescricao}" class="card-text"></p>
                                                        <p class="card-text"><small th:text="${post.getDataPostagem}"
                                                                                    class="text-muted"></small></p>
                                                    </div>
                                                    <!--footer-->
                                                    <div th:replace="replace/pack-postagem :: footer-modal-pack">
                                                        <!--replace pacote footer (curtir - comentar)-->
                                                    </div>
                                                </div>
                                            </div>

                                            <!--for para geral modal fora do container-->
                                            <div th:each="post : ${usuario.getPostagens}" class="col-md-8 mx-auto padding-top-2">
                                                <!--exibir comentarios-->
                                                <div th:replace="replace/pack-postagem :: modal-comentario">
                                                    <!--replace comentairo footer-->
                                                </div>

                                                <!--mostrar foto completa-->
                                                <div th:replace="replace/pack-postagem :: img-modal-expand">
                                                    <!--replace img-modal-expand-->
                                                </div>

                                                <!--tela de exclusão de postagem-->
                                                <div th:replace="replace/pack-postagem :: delete-post">
                                                    <!--replace modal deletar post-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--Amigos do usuario dentro do perfil ( for)-->
                                        <div class="tab-pane" id="amigos2">
                                            <div class="container row mx-auto max-10em">
                                                <a th:each="amigo : ${usuario.ListAmigosUsuarios}"
                                                   th:href="${'/perfil/'+amigo.getUsername}" class="col-md-4 col-sm-6">
                                                    <h4 th:text="${'@'+amigo.getNickname}"></h4>
                                                    <div class="container-img-md">
                                                        <img th:src="${'/provedor/nickImg/'+amigo.getUsername}"
                                                             alt="Raised Image" class="img-raised rounded-circle img-fluid"/>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--preferencias do usuario-->
                        <div th:replace="replace/pack-perfil :: preferencias">
                            <!--replace preferencias user-->
                        </div>

                        <!--chats do usuario-->
                        <div class="tab-pane" id="bubble">

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="replace/base :: footer"></footer>
        <div th:replace="replace/base :: js"></div>
    </body>
</html>