<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

    <!--fragmento de imports css-->
    <head th:fragment="css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS Files -->
        <link href="/assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
        <link href="/assets/css/custom.css" rel="stylesheet" />
        <!-- Fonts and icons -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    </head>

    <!--fragmento navbar-->

    <nav th:fragment="navbar" class="navbar fixed-top navbar-expand-lg bg-primary navbar-color-on-scroll">
        <div class="container">
            <a class="navbar-brand" href="/homePage/">Bubble</a>
            <button sec:authorize="${isAuthenticated()}" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li sec:authorize="${isAuthenticated()}" class="nav-item">
                        <a class="nav-link" href="/homePage/match">Match</a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="nav-item">
                        <a class="nav-link" href="/bubbleChat/">Chats</a>

                    <li sec:authorize="${isAuthenticated()}" class="nav-item">
                        <a class="nav-link" href="/perfil/meuPerfil">Minha Conta</a>
                    </li>
                    <!--replace icon-msg-->
                    <li id="replace-msg-icon"></li>
                    <!--replace icon-msg-->
                    <li sec:authorize="${!isAuthenticated()}" class="nav-item">
                        <a class="nav-link" href="/login/">Login</a>
                    </li>
                    <li sec:authorize="${isAuthenticated()}" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/config/">Configurações</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--fragmentos de alerta-->
    <div th:fragment="alert" id="alert">

        <!--notificacao info-->
        <div th:if="${info != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-info fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Info:</b> <span th:text="${info}"></span>
                </div>
            </div>
        </div>

        <!--sucess info-->
        <div th:if="${sucess != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-success fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Success:</b> <span th:text="${sucess}"></span>
                </div>
            </div>
        </div>

        <!--sucess info-->
        <div th:if="${param.logout != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-success fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">check</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Success:</b> Deslogado com sucesso!.
                </div>
            </div>
        </div>

        <!--warning info-->
        <div th:if="${warning != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-warning fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">warning</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Warning:</b> <span th:text="${warning}"></span>
                </div>
            </div>
        </div>

        <!--warning info-->
        <div th:if="${param.error != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-warning fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">warning</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Warning:</b> Usuário ou senha incorreta!.
                </div>
            </div>
        </div>

        <!--danger info-->
        <div th:if="${danger != null}">
            <div  class="margin-top-3"></div>
            <div class="alert alert-danger fixed-top margin-top-3">
                <div class="container">
                    <div class="alert-icon">
                        <i class="material-icons">error_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>Danger:</b> <span th:text="${danger}"></span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <!--fragmento footer-->

    <footer th:fragment="footer" class="footer footer-default" data-background-color="black">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a target="_blank" href="https://github.com/matdashell/Bubble">
                            GitHub
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/mateus-lima-a61430205/">
                            Linkedin
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                ©
                <script>
                    document.write(new Date().getFullYear())
                </script>2021, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>

    <!--fragmento de imposts js-->
    <div th:fragment="js">
        <!--   Core JS Files   -->
        <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
        <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <script src="/assets/js/plugins/moment.min.js"></script>
        <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
        <script src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
        <!--  Google Maps Plugin  -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src="/assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>
        <script src="/assets/js/ajax/content.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </div>

    <!--Token-->
    <div th:fragment="token">
        <!--<input type="hidden" th:name="${_csrf.paramenterName}" th:value="${_csrf.token}"/>-->
    </div>

    <div th:fragment="null"></div>

</html>