<!DOCTYPE html>
<!--Usado dentro de um earc <post : ${postagens}>-->
<html lang="pt" xmlns:th="https://www.thymeleaf.org">





<!--fragmento botao para ativar modal-->
    <div th:fragment="footer-modal-pack" th:id="${'modal-footer-post'+post.getId}" class="card-footer">
        <!--curtidas postagem-->
        <div th:fragment="btn-curtir-postagem" th:id="${'btn-curtir'+post.getId}" class="margin-left-1">
            <button class="btn btn-primary btn-fab btn-fab-mini btn-round" th:attr="onclick=|curtir(${post.getId})|">
                <i class="material-icons" th:text="${principalUser.curtiu(post) ? 'favorite' : 'favorite_border'}"></i>
            </button><span th:text="${post.getNumCurtidas}" class="padding-left-1"></span>
        </div>

        <!--comentarios postagem-->
        <button type="button" class="btn btn-primary btn-fab btn-fab-mini btn-round margin-left-1"
                data-toggle="modal" th:data-target="${'#inputComentarios'+post.getId}">
            <i class="material-icons">textsms</i>
        </button>
        <span th:fragment="comentario-num" th:id="${'comentario-num'+post.getId}">
            <span th:text="${post.getNumeroComentarios}" class="padding-left-1"></span>
        </span>

        <!--excluir postagem-->
        <button th:if="${principalUser == post.getUsuarioPost}" type="button" class="btn btn-danger btn-fab btn-fab-mini btn-round margin-left-1"
                data-toggle="modal" th:data-target="${'#deletePost'+post.getId}">
            <i class="material-icons">delete</i>
        </button>
    </div>

    <!--modal confirmar exclusão postagem-->
    <div th:fragment="delete-post" th:if="${principalUser == post.getUsuarioPost}" class="modal fade" th:id="${'deletePost'+post.getId}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--header-->
                <div class="modal-header">
                    <h5 class="modal-title">Deseja realmente excluir essa postagem?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--body-->
                <div class="modal-body">
                    <button class="btn btn-info col-6" data-dismiss="modal" aria-label="Close">Cancelar</button>
                    <button th:attr="onclick=|deletarPost(${post.getId})|" data-dismiss="modal"
                            class="btn btn-primary col-6">Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>


<!--fragmento modal para exibir comentarios-->
    <div th:fragment="modal-comentario" class="modal fade" th:id="${'inputComentarios'+post.getId}" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--header - modal-->
                <div class="modal-header">
                    <div class="model-title" th:text="${'Comentarios da postagem @'+post.getUsuarioPost.getUsername}"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--input de comentario na postagem-->
                <div class="header">
                    <!--formulario input comentarios-->
                    <span class="container padding-top-2 bmd-form-group">
                        <div class="container row input-group">
                            <div class="col-2 input-group-prepend">
                                <span class="input-group-text">
                                    <i class="material-icons">textsms</i>
                                 </span>
                            </div>
                            <input th:id="${'input-comentario'+post.getId}" type="text" class="col-8 form-control" name="comentario"
                                   placeholder="Deixe seu Comentário" autocomplete="off" required/>
                            <button th:attr="onclick=|comentarP(${post.getId})|" class="col-0 btn btn-default btn-fab btn-round">
                                <i class="material-icons">send</i>
                            </button>
                        </div>
                    </span>
                </div>
                <!--comentarios postagem (lista)-->
                <div class="modal-body">
                    <div th:fragment="comentarios-list" th:id="${'comentarios-list'+post.getId}">
                        <div th:each="comentario : ${post.getComentariosUsers}" class="container card padding-top-0">
                            <!--top comentario-->
                            <div class="row">
                                <!--imagem comentario-->
                                <div class="col-md-2 col-sm-3 container-img-xm">
                                    <img th:if="${post.getImagemPost}"
                                         th:src="${'/provedor/nickImg/'+comentario.getComentarioUsuario.getUsername}"
                                         alt="Thumbnail Image" class="rounded-circle img-fluid"/>
                                </div>
                                <div class="col-md-10 col-sm-9 padding-top-0">
                                    <div class="float-left text-left col-2">
                                        <!--user-->
                                        <b>
                                            <a th:href="${'/perfil/'+comentario.getComentarioUsuario.getUsername}">
                                                <span th:text="${'@'+comentario.getComentarioUsuario.getUsername}"></span>
                                            </a>
                                        </b>
                                    </div>
                                    <div class="col-12">
                                        <!--comentario user-->
                                        <span th:text="${' - '+comentario.getComentario}" class="float-left"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





<!--fragmento imagem postagem ligado ao modal; exibir postagem completa-->
    <div th:fragment="img-modal-container" th:id="${'modal-img-post'+post.getId}"
         class="container-img" data-toggle="modal" th:data-target="${'#fotoPostagem'+post.getId}">
        <img th:if="${post.getImagemPost != null}" class="card-img-top img click"
             th:src="${'/provedor/postImg/'+post.getId}" rel="nofollow" alt="Card image cap">
    </div>




<!--modal imagem completa-->
    <!--postagens-->
<div th:fragment="img-modal-expand" class="modal fade" th:id="${'fotoPostagem'+post.getId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--header-->
            <div class="modal-header">
                <h5 th:text="${'Foto postagem @'+post.getUsuarioPost.getUsername}" class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--body-->
            <div class="modal-body container-img-comport">
                <img th:if="${post.getImagemPost}" class="card-img-top img"
                     th:src="${'/provedor/postImg/'+post.getId}" rel="nofollow" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
</html>